<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.chippy.blog.mapper.ArticleMapper">
    
    <resultMap id="search_map" type="top.chippy.blog.entity.Article">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="half_content" jdbcType="VARCHAR" property="halfContent" />
        <result column="cover" jdbcType="VARCHAR" property="cover" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="type" jdbcType="VARCHAR" property="type" />
    </resultMap>
    
    <resultMap id="news_map" type="top.chippy.blog.entity.Article">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="type" jdbcType="VARCHAR" property="type" />
    </resultMap>

    <resultMap id="article_list" type="top.chippy.blog.entity.Article">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="article_no" jdbcType="VARCHAR" property="articleNo" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="type_name" jdbcType="VARCHAR" property="typeName" />
        <result column="count" jdbcType="VARCHAR" property="count" />
        <result column="crt_user" jdbcType="VARCHAR" property="crtUser" />
        <result column="crt_time" jdbcType="VARCHAR" property="crtTime" />
        <result column="upd_time" jdbcType="VARCHAR" property="updTime" />
        <result column="del_flag" jdbcType="VARCHAR" property="delFlag" />
    </resultMap>

    <select id="news" resultMap="news_map">
        SELECT
            id,
            title,
            `type`
        FROM
            chippy_article
        WHERE del_flag = 1
        ORDER BY crt_time DESC
        LIMIT #{num}
    </select>

    <select id="hots" resultMap="news_map">
        SELECT
            id,
            title,
            `type`
        FROM
            chippy_article
        WHERE del_flag = 1
        ORDER BY `count` DESC
        LIMIT #{num}
    </select>

    <select id="list" resultMap="search_map">
        SELECT
            id,
            title,
            half_content,
            cover,
            author,
            `type`
        FROM
            chippy_article
        WHERE
            del_flag = 1
        <if test="search != null and search != null">
            AND ((title LIKE CONCAT('%','${search}','%'))
            OR (half_content LIKE CONCAT('%','${search}','%'))
            OR (author LIKE CONCAT('%','${search}','%')))
        </if>
        ORDER BY crt_time DESC
    </select>

    <select id="relation" resultType="top.chippy.blog.entity.Article">
        SELECT
            id,
            title
        FROM
            chippy_article
        WHERE
            `type` = #{type}
        AND del_flag = 1
        ORDER BY `count` DESC
        LIMIT #{num}
    </select>

    <select id="single" resultType="top.chippy.blog.entity.Article">
        SELECT
            ca.id,
            ca.article_no AS articleNo,
            ca.title,
            ca.content,
            ca.half_content AS halfContent,
            ca.cover,
            ca.author,
            ct.`name` typeName,
            ca.count,
            ca.type,
            ca.crt_time AS crtTime,
            ca.upd_time AS updTime,
            ca.crt_user AS crtUser,
            ca.upd_user AS updUser,
            ca.del_flag AS delFlag
        FROM
            chippy_article AS ca
        INNER JOIN chippy_tag AS ct ON ca.type = ct.id
        WHERE
            ca.id = #{id}
    </select>

    <select id="all" resultMap="article_list">
        SELECT a.id, a.article_no, a.title, a.author, t.name type_name, a.`count`, a.crt_user, a.crt_time, a.upd_time, a.del_flag
        FROM chippy_article a
        INNER JOIN chippy_tag t ON a.type = t.id
        WHERE 1=1
        <if test="params.search != null and params.search != ''">
            AND (a.title LIKE CONCAT('%', #{params.search}, '%')
            OR a.author LIKE CONCAT('%', #{params.search}, '%'))
        </if>
        <if test="params.delFlag != null and params.delFlag != ''">
            AND a.del_flag = #{params.delFlag}
        </if>
        <if test="params.crtUser != null and params.crtUser != ''">
            AND a.crt_user LIKE CONCAT('%', #{params.crtUser}, '%')
        </if>
        <if test="params.type != null and params.type != ''">
            AND a.type = #{params.type}
        </if>
        ORDER BY a.crt_time DESC
    </select>

    <select id="currentMonthAddArticle" resultType="java.util.HashMap">
        SELECT
            COUNT(1) count
        FROM
            chippy_article
        WHERE
            MONTH (crt_time) = MONTH (NOW())
    </select>

    <select id="currentDayMaxFlowCount" resultType="java.util.HashMap">
        SELECT
            `count`
        FROM
            chippy_article
        WHERE
            del_flag = 1
        AND DAY (crt_time) = DAY (NOW())
        ORDER BY
            `count` DESC
        LIMIT 1
    </select>

    <select id="maxArtcleCount" resultType="java.util.HashMap">
        SELECT
            max(`count`) maxCount
        FROM
            chippy_article
        WHERE
            del_flag = 1
    </select>
</mapper>