<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.chippy.blog.mapper.UserMapper">

    <!-- 用户列表 -->
    <resultMap id="user_list" type="top.chippy.blog.entity.User">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="email" column="email" />
        <result property="crtUser" column="crt_user" />
        <result property="crtTime" column="crt_time" />
        <result property="updTime" column="upd_time" />
        <result property="delFlag" column="del_flag" />
    </resultMap>

    <select id="validate" resultType="top.chippy.blog.entity.User">
        SELECT
          id,
          `name`,
          email,
          password
        FROM
          chippy_user
        WHERE
          del_flag = 1
        AND email = #{email}
    </select>
    
    <select id="list" resultMap="user_list">
        SELECT id, `name`, email, crt_user, crt_time, upd_time, del_flag
        FROM chippy_user
        WHERE 1=1
        <if test="params.search != null and params.search != ''">
            AND `name` LIKE CONCAT('%', #{params.search}, '%')
        </if>
    </select>

</mapper>